.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
}
